doctype html
html
    head
        title | #{siteTitle}
    body
        ul
            li
                a(href="/") Home
            li
                a(href='/create') Create
        block content
    